#left_layout {
	-fx-background-color: steelblue;
	background-color: steelblue;
	-fx-padding: 15px;
	padding: 15px;
	-fx-hgap: 8;
	-fx-vgap: 8;
}

.root {
	-fx-font-family: "Tahoma";
	font-family: "Tahoma";
}

.log_in_label, .log_in_text {
	-fx-font-size: 20px;
	font-size: 20px;
	-fx-fill: whitesmoke; /* Need for Text class */
	fill: whitesmoke;
	-fx-text-fill: whitesmoke; /* Need for Label class */
}
