/* Will be used for all styling throughout the project */

/* MAIN WINDOW STYLES */
* {
	/* Variables */
	-fx-left-layout-bg-color: linear-gradient(to top left, lightskyblue, steelblue);
	-fx-center-layout-bg-color: whitesmoke;
	-fx-main-window-text-fill: whitesmoke;
}

#login_window, #logged_in_window {
	-fx-background-color: -fx-left-layout-bg-color;
	-fx-padding: 15px;
	-fx-hgap: 8;
	-fx-vgap: 12;
}

#center_layout {
	-fx-background-color: -fx-center-layout-bg-color;
	-fx-padding: 5px 0px 0px 5px;
	-fx-vgap: 8;
	-fx-hgap: 1;
}

#log_in_button, #log_out_button {
	-fx-background-color: -fx-left-layout-bg-color;
	-fx-font-size: 16px;
	-fx-text-fill: -fx-main-window-text-fill;
}

#log_in_button:hover {
	-fx-background-color: steelblue;
	-fx-underline: true;
}

#warning_label {
	-fx-text-fill: red;
	-fx-font-size: 14px;
}

.root {
	-fx-font-family: "Tahoma";
}

.text_node_left_layout {
	-fx-font-size: 20px;
	-fx-fill: -fx-main-window-text-fill; /* Need for Text class */
	-fx-text-fill: -fx-main-window-text-fill; /* Need for Label class */
}

.text_node_center_layout {
	-fx-font-size: 14px;
}

/* END MAIN WINDOW STYLES */